# dependencies
node_modules/
**/node_modules/
.pnpm-debug.log*

# Next.js build
.next/
out/

# Express / Node build
build/
dist/
**/dist/
*.tsbuildinfo

# Rust build artifacts
target/
debug/
release/
*.rs.bk

# Environment & Secrets (CRITICAL)
.env*
*.env
!.env.example
.vercel/
.turbo/
.cache/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test coverage
coverage/
*.lcov
.vitest-result/

# Tooling & Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store
Thumbs.db
