# One of these is required for routing alerts; both can be set, routes will match based on presence
# Slack incoming webhook URL
SLACK_WEBHOOK_URL=

# AWS SNS HTTP/S webhook URL (e.g., from an HTTPS subscription)
SNS_WEBHOOK_URL=
